@font-face {
    font-family: 'Amatic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Amatic-Bold.ttf') 
    
}

.navbar {
    font-family: "Amatic" , Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}